.headline {
  margin: 20px;
  text-align: center;
  font-size: 36px;
  font-family: 'EB Garamond', serif;
}
.explanation {
  margin: 20px;
  font-size: 18px;
  font-family: 'EB Garamond', serif;
}
.source {
  margin: 20px;
  font-size: 12px;
  font-family: 'EB Garamond', serif;
}
.number {
  font-weight: bold;
  font-size: 18px;
  font-family: 'EB Garamond', serif;
}
