.headline {
  margin: 30px 30px 50px 30px;
  text-align: center;
  font-size: 36px;
  font-family: 'EB Garamond', serif;
}
.headlineNumber {
  font-size: 48px;
  font-weight: bold;
}
.explanation {
  line-height: 120%;
  margin: 20px;
  font-size: 18px;
  font-family: 'helvetica', sans-serif;
}
.source {
  margin: 20px;
  font-size: 12px;
  font-family: 'helvetica', sans-serif;
}
.number {
  font-weight: bold;
}
